body {
  background: #f1f2f4;
  margin: 0;
}

.App {
  font-family: sans-serif;
}
.Login {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.JobBoard {
  height: 100vh;
}
